@import "tailwindcss";
* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #1f2934;
    justify-content: center;
}

/* VARIABLES */
@theme {
    --color-primary: #101517;
    --color-secondary: #151922;
    --color-tiertiary: #1F2934;
    --color-quaternary: #cafc05;
    --color-mywhite: #fbfbfa;
}

/* TEXT BORDER EFFECT */
.text-border:hover {
  text-shadow:
   -1px -1px 0 #cafc05,  
    1px -1px 0 #cafc05,
    -1px 1px 0 #cafc05,
     1px 1px 0 #cafc05;
}

.hover-effect { display:inline-block; margin:0;text-transform:uppercase; }
.hover-effect:after {
  display:block;
  content: '';
  border-bottom: solid 3px #cafc05;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.hover-effect:hover:after { transform: scaleX(1); }
